__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.env
.venv
venv/
ENV/
.mypy_cache/
.dmypy.json
dmypy.json
.stylish.py
*.swp
*.swo
*~
.DS_Store